<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Document</title>
 </head>
<body>
   

   <form action="" method="POST">
       {%csrf_token%}
   
       <input type="text" name="name">
       <button type= "submit" class="btn btn-secondary"> Pencarian </button>
   </form>
   
   <div>
     <table class="table table-striped">
       <thead>
         <tr>
           <th>id</th>
           <th>nama</th>
           <th>actions</th>
         </tr>
         <tbody>
           {% for d in data %}
           <tr>
              <td>{{d.id}}</td>
              <td>{{d.name}}</td>
              <td>
                <a href="{{d.id}}/detail" class="btn btn-secondary">views</a>
                <a href="{{d.id}}/edit" class="btn btn-success">edit</a>
                <a href="{{d.id}}/hapus" class="btn btn-danger">delete</a>
              </td>
           </tr>
           {%endfor%}
         </tbody>
       </thead>
     </table>
   </div>
</body>
</body>
</html>
