<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <center>
        
        <form action="" method="POST">
            {% csrf_token %}
            
            <label for="">menu makanan</label>
            <input type="text" name="nama">
            <label for="">jenis</label>
            <select name="jenis" id="">
                <option selected>pilih</option>
                <option value="kering">kering</option>
                <option value="basah">basah</option>
            </select>
            <label for="">harga</label>
            <input type="number" name="harga">
            <a href="/">
                <button type="submit">simpan</button>
            </a>
        </form>
    </center>
    <section>
        <table class="table table-borderedd" style="withd: 100px;">

            <head> 
                    <th>no</th>
                    <th>nama</th>
                    <th>jenis</th>
                    <th>harga</th>
                    <th>aksi</th>
            </head>
            <body>
                {%for i in data_makan%}
                <tr>
                    <td>{{foorloop.counter}}</td>
                    <td>{{i.nama}}</td>
                    <td>{{i.jenis}}</td>
                    <td>{{i.harga}}</td>
                    <td>
 
                        <a href="/hapus/{{i.id}}"><button type="button" class="btn btn-danger">hapus</button></a>
                    </td>
                </tr>
                {% endfor %}
            </body>
        </table>
    </section>
</body>
</html>